@page "/hue"


<div>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-@(ClassCheck(plugIsOn))" @onclick=SwitchPlugAsync>Computer Switch</button>
    </div>
</div>
<div>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-@(ClassCheck(leftHaloIsOn))" @onclick=SwitchLeftHaloAsync>Left Halo</button>
        <button type="button" class="btn btn-@(ClassCheck(leftBarIsOn))" @onclick=SwitchLeftBarAsync>Left Bar</button>
        <button type="button" class="btn btn-@(ClassCheck(rightBarIsOn))" @onclick=SwitchRightBarAsync>Right Bar</button>
        <button type="button" class="btn btn-@(ClassCheck(rightHaloIsOn))" @onclick=SwitchRightHaloAsync>Right Halo</button>
    </div>
</div>