@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, smart hub!</h1>

Raspberry PI Interface

<div>
    <label>Front Fan</label>
    <input type="range" min="0" max="3" @onchange=OnFrontSpeedChanged value=@frontSpeed class="slider" />
</div>

<div>
    <label>Bedroom Fan</label>
    <input type="range" min="0" max="3" @onchange=OnBedroomSpeedChanged value=@bedroomSpeed class="slider" />
</div>

<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary oi oi-media-play" @onclick=PlayTvAsync></button>
  <button type="button" class="btn btn-secondary oi oi-media-pause" @onclick=PauseTvAsync></button>
</div>


<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary oi oi-volume-low" @onclick=IncraseVolumeAsync></button>
  <button type="button" class="btn btn-secondary oi oi-volume-high" @onclick=MuteAsync></button>
  <button type="button" class="btn btn-secondary oi oi-volume-high" @onclick=DecreaseVolumeAsync></button>
</div>