@page "/settings"
<h3>Settings</h3>

@if (settings is null)
{
    <div>Loading...</div>
}
else
{
    foreach (var setting in settings)
    {
        <div>
            <input @bind-value=setting.Name />
            <input @bind-value=setting.Value />

            <input type="button" value="Save" @onclick=@(async () => await SaveAsync(setting)) />
        </div>

    }
}